img{
    display: inline;
    justify-content: space-between;

}
.img{
    text-align: center;
}
.img > img{
    width:150px;
    height:180px;
}
.img > input {
    padding-left:15rem;
    
}
body{
    display:flex;
    justify-content: center;
    background-color:gray;
    font-family: 'Courier New', Courier, monospace;
}

.question{
    text-align: center;
}
.bouton{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}